body {
  font-family: exo;
  max-width: 100%;
}
.Background {
  background-size: 100%;
  background-image: url(/Pictures/Tracks/f1carMc1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.menu li {
  display: inline-block;
  list-style-type: none;
  font-size: 100%;
  font-weight: 600;
  margin-right: 150px;
}
.nav1 {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  box-shadow: 0 5px 5px red;
  height: 60px;
  background-color: rgb(221, 217, 217);
  color: rgb(0, 0, 0);
  max-width: 100%;
  margin: auto;
  justify-content: space-between;
}
.Header {
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
  margin-left: 9%;
  letter-spacing: 5px;
  -webkit-text-stroke-color: rgb(255, 0, 0);
  -webkit-text-stroke-width: 2px;
  white-space: nowrap;
}
h1 {
  margin-left: 10%;
  margin-top: 100px;
  display: flex;
  color: white;
  font-size: 40px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 2px;
}
.Headline {
  display: flex;
  font-weight: 600;
  margin-left: 7%;
  font-size: 25px;
  max-width: 600px;
  border-style: solid;
  border-radius: 20px;
  padding: 1em;
  background-color: rgb(226, 226, 226);
}

.nav2 {
  display: flex;
  background-color: rgb(221, 20, 20);
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 100%;
}

img {
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(252, 0, 0);
  align-content: center;
  margin-left: 95px;
  float: left;
  max-width: 50%;
  max-height: 40%;
}

.Spa {
  margin-top: 30%;
}
.Silver {
  margin-top: 30%;
}

p {
  font-size: 20px;
  font-weight: 600;
  margin-left: 60%;
  min-width: 30%;
  max-width: 60%;
  margin-right: 15%;
  letter-spacing: 2px;
  padding: 20px;
  border: solid;
  background-color: rgb(221, 217, 217);
  border-radius: 3px;
}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  color: white;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary {
    width: 67%;
  }
  #secondary {
    width: 30%;
    margin-left: 3%;
  }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary {
    width: 100%;
  }
  #secondary {
    width: 100%;
    margin: 0;
    border: none;
  }
}
